<html>
	<head>
		<title>Golden Globes Tweet Parser</title>
		<link rel="stylesheet" type="text/css" href=" {{url_for('static', filename='style.css')}} ">
		<link rel="stylesheet" type="text/css" href=" {{url_for('static', filename='test.css')}} ">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>


		<script type="text/javascript" src=" {{url_for('static', filename='logic.js')}} "></script>

		<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href=" {{url_for('static', filename='buttons/css/buttons.css')}} ">
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src=" {{url_for('static', filename='buttons/js/buttons.js')}} "></script>
		<script type="text/javascript" src=" {{url_for('static', filename='jspkg-archive/jquery.dynatable.js')}} "></script>
		<link rel="stylesheet" href=" {{url_for('static', filename='jspkg-archive/jquery.dynatable.css')}} "></link>
	</head>
	<body>
		<h1>Golden Globes Jokes<span>Created by Brendan Frick, Nevil George, Frank Avino, and Pete Huang</span></h1>
		<br>
		<table border="1" style="width:100%">
			<tr>
				<td><strong><em>People involved</em></strong></td>
				<td><strong><em>Tweet with joke</em></strong></td>
			</tr>	
			{% for joke in data %}
			<tr>
				<td>{{joke.names}}</td>
				<td>{{joke.text}}</td> 
			</tr>
			{% endfor %}
		</table>

	</body>

</html>
